<div class="one-block-cutaway">
    <div class="text-cutaway">
      <h5>Портал Firstep</h5>
      <span>Наш портал предоставит вам всю нужную информацию для старта бизнеса</span>
    </div>
</div>

<div class="two-content">
  <div class="name-block">
      <h5>Лучшие пользователи</h5>
  </div>
  <div class=list-block>
    <ul class="photo-li">
      <li *ngFor="let img of image" class="card">
        <div class="photo">
          <img img [src]="img" alt="new-avatar">
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="starter-template three-block">
  <h1>Наше начало работы</h1>
  <p class="lead mx-5 text-center mt-5">Развитие малого бизнеса в России
    набирает все большие обороты. Однако у начинающих предпринимателей существует ряд сложностей,
    таких как поиск помещения, стоимость его аренды, анализ проходимости,
    подбор соответствующей арт-команды (дизайнеров), и наем квалифицированных работников.​</p>
  <p class="lead mx-5 text-center">Создание и внедрение портала «Firstep» помогает решить все вышеизложенные проблемы. Пользователю доступны услуги по поиску помещения и работников, а также возможность обсудить разнообразные
    вопросы с любым пользователем в чате. Ключевой особенностью
    проекта является индивидуальный подбор арт-команды путем оценивания предлагаемых работ.
  </p>
  <p class="lead mx-5 text-center">Работа над сайтом стартовала 20 февраля 2020 года, дата ее окончания – 25 мая 2020 года.</p>
</div>

<div class="four-block">

</div>
<footer class="footer page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 by:
    <a href="https://roonyx.tech">andrey.rechkov@roonyx.tech</a>
  </div>
</footer>
