<div class="container-fluid">
  <div class="content">
    <div class="test">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" (click)="advertisingFilter('Арендодатель')">
          <a class="nav-link" [ngClass]="advertising === 'Арендодатель' ? 'active' : ''">Аренда помещений</a>
        </li>
        <li class="nav-item" (click)="advertisingFilter('Соискатель')">
          <a class="nav-link" [ngClass]="advertising === 'Соискатель' ? 'active' : ''">Соискатели</a>
        </li>
        <li class="nav-item" (click)="advertisingFilter('Арт-команда')">
          <a class="nav-link" [ngClass]="advertising === 'Арт-команда' ? 'active' : ''">Арт-команды</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th [style]="{'width': '15%'}" scope="col">Название</th>
            <th [style]="{'width': '20%'}" scope="col">Фото</th>
            <th [style]="{'width': '15%'}" scope="col">Цена</th>
            <th [style]="{'width': '30%'}" scope="col">Описание</th>
            <th [style]="{'width': '20%'}" scope="col">Создание</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vacation of filterUsers; let i = index">
            <th scope="row">{{ i + 1}}</th>
            <td [style]="{'width': '15%'}">{{ vacation?.vacancy }}</td>
            <td [style]="{'width': '20%'}"><a routerLink="/vacancy" [queryParams]="{'id': vacation?.id }">
              <img class="home-avatar" [src]="vacation?.image1" alt="maria"></a></td>
            <td [style]="{'width': '15%'}">{{ vacation?.price }} P</td>
            <td class="content"><p>{{ vacation?.content }}</p></td>
            <td [style]="{'width': '20%'}">{{ vacation?.created_at | date }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="header">
      <a routerLink="/art-command" class="card">
        <div class="photo">
          <img src="/assets/team.png" alt="team">
        </div>
        <h2 class="m-2">Арт Команда</h2>
        <p>Подберите себе арт-команду по интересам</p>
      </a>
      <a *ngIf="role !== 'Предприниматель'" routerLink="/ad" class="card">
        <div class="photo">
          <img src="/assets/new.png" alt="new">
        </div>
        <h2 class="m-2">Создать</h2>
        <p>В любой момент вы можете создать публикацию вашей аренды, поиска работы</p>
      </a>
    </div>
  </div>
</div>
