.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 10px 0;

  .content {
    display: flex;
    flex-wrap: wrap;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
        padding: 10px;
        margin: 20px;
        width: 250px;
        height: 300px;
        .photo {
          img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
          }
        }
        p {
          text-align: center;
        }
        &:hover {
          box-shadow: 0 0 30px rgba(1, 47, 101, 0.71);
        }
      }
    }
    .test {
      width: 70%;
      margin-top: 10px;
      box-shadow: 0 0 30px rgba(0,0,0,0.5);
      border-radius: 10px;
      .nav-item {
        width: 33%;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        .active {
          background-color: antiquewhite;
        }
      }
    }
    .table {
      text-align: center;
      thead {
        background-color: black;
        color: white;
      }
      .home-avatar {
        width: 200px;
        height: 150px;
        border-radius: 10px;
      }
      .content {
        p {
          overflow: hidden;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}
