.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #dce4ec;

  .contact-profile {
    display: flex;
    background-color: white;
    margin: 0;
    padding: 5px;

    .image {
      margin-right: 20px;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }

    .meta {
      .name {
        font-size: 18px;
        margin-top: 5px;
      }
    }
  }

  .messages {
    overflow-y: auto;
    max-height: 780px;

    .chat-log {
      list-style-type: none;
      padding: 0 10px;
      margin: 0;

      .sent {
        display: flex;
        justify-content: flex-start;

        .image {
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }

        p {
          word-break: break-word;
          width: 250px;
          margin-left: 10px;
          margin-top: 10px;
          background: #060624;
          color: white;
          padding: 20px 20px;
          border-radius: 20px;
        }
      }

      .replies {
        display: flex;
        justify-content: flex-end;

        :nth-child(1) {
          order: 2;
        }

        :nth-child(2) {
          order: 1;
        }

        .image {
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }

        .text {
          p {
            word-break: break-word;
            width: 250px;
            margin-right: 10px;
            margin-top: 10px;
            background: #efefef;
            color: black;
            padding: 20px 20px;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .message-input {
    margin-top: auto;
  }

  .messages::-webkit-scrollbar {
    width: 5px;
  }

  .messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .messages::-webkit-scrollbar-thumb {
    background-color: #060624;
    outline: 1px solid slategrey;
  }
}
