.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/login_main.jpg");
  background-size: cover;
  height: 100vh;

  .card-registr {
    text-align: center;
    width: 30%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 15px;
  }
}
