#sidebar-wrapper {
  z-index: 1000;
  height: 100%;
  overflow-y: auto;
  background-color: #202034; ///////
  transition: all 0.25s ease;

  .sidebar-nav {
    list-style: none;
    border-top: solid 0.9px rgba(255, 255, 255, 0.1);
    padding: 0 0;

    li {
      line-height: 51px;
      border-bottom: solid 0.9px rgba(255, 255, 255, 0.1);
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
      }

      .submenu-item {
        padding-left: 0;

        .add-arrow {
          i {
            font-size: 20px;
          }
        }

        p {
          display: flex;
          justify-content: space-between;
          padding-left: 15px;
          outline: none;
        }

        li {
          padding: 0;

          a {
            padding-left: 20px;
            font-size: 13px;
          }
        }

        .submenu-icon {
          font-size: 6px;
        }
      }

      a {
        display: block;
        text-decoration: none;
        color: #999999;
        transition: all ease 0.15s;
        font-size: 16px;

        span {
          padding-left: 20px;
        }

        fa-icon {
          padding-right: 15px;
          width: 17.1px;
          height: 17.1px;
        }
      }

      a.active {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        font-weight: 600;
      }
    }
  }

}

/* Tablet Portrait & Landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #sidebar-wrapper {
    .sidebar-nav {
      li {
        a {
          padding-left: 10px;
          i {
            padding-right: 30px;
          }
        }
      }
    }
  }
}

/* Tablet Landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {}

/* Tablet Portrait */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {}
