<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
  <span routerLink="/" class="logo"></span>
  <h5 class="my-0 mr-md-auto font-weight-normal">FirStep</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a *ngFor="let item of sideNavList" class="p-2 text-dark" [routerLink]="item.link" [routerLinkActive]="['active']" >{{ item.name }}</a>
  </nav>
  <img *ngIf="image" routerLink="/setting" class="avatar" [src]="image" alt="maria">
  <img *ngIf="!image" routerLink="/setting" class="avatar" src="assets/avatar-3.png" alt="...">
  <a class="btn btn-outline-primary" (click)="logout()">Выйти</a>
</div>
