
.logo {
  background-image: url("../../../../assets/logo.jpg");
  height: 35px;
  width: 37px;
  margin: 0 20px;
}

svg {
  margin-top: 5px;
}

.avatar {
  margin-right: 10px;
  background-color: #a10000;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
