<div class="container-fluid">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="/assets/3.png" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="/assets/2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="/assets/3.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="text-center m-2">
    <h1>Предоставляемые услуги</h1>
  </div>
  <div class="content">
    <div class="card" >
      <div class="photo">
        <img src="/assets/message.png" alt="maria">
      </div>
      <h2 class="m-2">Чат</h2>
      <p>Всегда можно узнать более подробную информацию через личные сообщения</p>
    </div>
    <div class="card">
      <div class="photo">
        <img src="/assets/people.jpeg" alt="maria">
      </div>
      <h2 class="m-2">Персонал</h2>
      <p>Всегда можно подобрать персонал, который будет частью вашей команды</p>
    </div>
    <div class="card">
      <div class="photo">
        <img src="/assets/maps.png" alt="maria">
      </div>
      <h2 class="m-2">Карты</h2>
      <p>Найдите выгодных арендодателей с конкретным выбранным вами районом</p>
    </div>
    <div class="card">
      <div class="photo">
        <img src="/assets/profile.png" alt="maria">
      </div>
      <h2 class="m-2">Профиль</h2>
      <p>В любой момент вы можете внести корректировки в свой профиль</p>
    </div>
  </div>
</div>

