.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  .chart-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vh;
    margin: 10px 10px;
  }
}
