<div class="fon">
  <form [formGroup]="form"
        class="form-signin card-reg"
        (ngSubmit)="newUser()">
    <div class="logo-header">
      <span class="logo"></span>
      <span>Регистрация</span>
    </div>
    <div class="input-date">
      <div>
        <label for="username" class="sr-only">User name</label>
        <input type="text"
               id="username"
               class="form-control"
               placeholder="User name"
               formControlName="username"
               [ngClass]="{'has-error': hasError('username')}">
      </div>
      <div>
        <label for="password" class="sr-only">User name</label>
        <input id="password"
             type="password"
             class="form-control"
             placeholder="Password"
             formControlName="password"
             [ngClass]="{'has-error': hasError('password')}">
      </div>
      <div formGroupName="person">
        <div>
          <label for="firstName" class="sr-only">First name</label>
          <input id="firstName"
                 class="form-control"
                 placeholder="First name"
                 formControlName="firstName"
                 [ngClass]="{'has-error': hasError('firstName')}">
        </div>
        <div>
          <label for="lastName" class="sr-only">Last name</label>
          <input id="lastName"
                 class="form-control"
                 placeholder="Last name"
                 formControlName="lastName"
                 [ngClass]="{'has-error': hasError('lastName')}">
        </div>
        <div>
          <label for="typeUser" class="sr-only">Last name</label>
          <select id="typeUser" class="form-control" formControlName="typeUser">
            <option value="" disabled selected>Выберите роль</option>
            <option>Предприниматель</option>
            <option>Арендодатель</option>
            <option>Соискатель</option>
            <option>Арт-команда</option>
          </select>
        </div>
      </div>
    </div>
    <div class="submit-button text-center mt-1">
      <div class="submit-button">
        <input [disabled]="form.invalid" class="btn btn-primary btn-save" type="submit" value="Сохранить">
      </div>
    </div>
  </form>
</div>
