<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <span class="logo"></span>
    <h5 class="my-0 mr-md-auto font-weight-normal">FirStep</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Главная</a>
        <a class="p-2 text-dark" href="#">Цели</a>
        <a class="p-2 text-dark" href="#">О нас</a>
        <a class="p-2 text-dark" href="#">...</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Войти</a>
</div>

<div class="general">
    <div class="one-content">
        <span>Тут будет какой-то текст</span>
        <p>Какого-то непонятного текста чисто для информации</p>
    </div>
</div>

<div class="two-content">
  <div class="name-block">
      <span>Тут будет какой-то текст</span>
      <p>Какого-то непонятного текста чисто для информации</p>
  </div>
  <div class=list-block>
      <ul>
          <li>QQQQQQQQQQQQQQQQQQQQQQQQQQQ</li>
          <li>QQQQQQQQQQQQQQQQQQQQQQQQQQQ</li>
          <li>QQQQQQQQQQQQQQQQQQQQQQQQQQQ</li>
      </ul>
    <ul>
      <li>QQQQQQQQQQQQQQQQQQQQQQQQQQQ</li>
      <li>QQQQQQQQQQQQQQQQQQQQQQQQQQQ</li>
      <li>QQQQQQQQQQQQQQQQQQQQQQQQQQQ</li>
    </ul>
  </div>
</div>

<div class="starter-template three-block">
  <h1>Bootstrap starter template</h1>
  <p class="lead mx-5">Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт. Вы можете переместить его в любое место на странице. Расскажите посетителям сайта о себе. Здесь будет удачно смотреться текст о вашей компании и услугах.​<br>
    Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами. Приводите увлекательные факты и цифры — пусть вас запомнят. Не забудьте про ключевые слова, по которым ваш сайт найдут в поисковых системах.<br>
    Наши шаблоны позволяют создавать отличные сайты. Мы благодарим вас за поддержку, отзывы и предложения, которые помогают делать конструктор сайтов Wix еще лучше. Заходите на наш форум, делитесь своим мнением и задавайте вопросы.</p>
</div>

<footer class="container">
  <p>© Company 2017-2019</p>
</footer>
