<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Профиль</h4>
        </div>
        <div class="panel-body">
          <div class="profile__avatar">
            <img src="/assets/maria.jpg" alt="...">
          </div>
          <div class="profile__header">
            <h4>Мария Выскребец <small>Администратор</small></h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nostrum odio cum repellat veniam eligendi rem cumque magnam autem delectus qui.
            </p>
            <a href=""> <img src="/assets/instagram.png" alt="..."></a>
            <a href="https://vk.com/idm.vyskrebets"><img src="/assets/vk.png" alt="..."></a>
            <a href=""><img src="/assets/facebook.png" alt="..."></a>
          </div>
        </div>
      </div>
      <div class="panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Информация</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
            <tr>
              <th><strong>Город</strong></th>
              <td>Ростов-на-Дону</td>
            </tr>
            <tr>
              <th><strong>Район</strong></th>
              <td>Чкаловский</td>
            </tr>
            <tr>
              <th><strong>Роль</strong></th>
              <td>Арендодатель</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Деятельность</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
            <tr>
              <th><strong>Публикации</strong></th>
              <td>5</td>
            </tr>
            <tr>
              <th><strong>Дата регистрации</strong></th>
              <td>01 Мая 2020</td>
            </tr>
            <tr>
              <th><strong>Последнее посещение</strong></th>
              <td>1 день назад</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-3 contact">
      <p>
        <a [routerLink]="'/chat-messages'" [routerLinkActive]="['active']" class="profile__contact-btn btn btn-lg btn-block btn-info"
           [style]="{'background-color': '#060624', 'color': 'white'}" data-toggle="modal" data-target="#profile__contact-form">
          Написать сообщение
        </a>
        <a class="profile__contact-btn btn btn-lg btn-block btn-info"
           [style]="{'background-color': '#060624', 'color': 'white'}" data-toggle="modal" data-target="#profile__contact-form">
          Редактирование
        </a>
      </p>

      <hr class="profile__contact-hr">
      <div class="profile__contact-info">
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Рабочий номер</h5>
            (000)987-65-43
          </div>
        </div>
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Личный номер</h5>
            8-952-577-55-13
          </div>
        </div>
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-envelope-square"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Почта</h5>
            <a href="mailto:admin@domain.com">admin@domain.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
