<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Профиль</h4>
        </div>
        <div class="panel-body">
          <div class="profile__avatar">
            <img class="img-responsive avatar" [src]="user?.person.image || defaultImage" alt="User profile picture">
          </div>
          <div class="profile__header">
            <h4>{{ user?.person?.firstName }} {{ user?.person?.lastName }} <small>{{ user?.person?.typeUser }}</small></h4>
            <p class="text-muted">
              {{ user?.person?.content }}
            </p>
            <a href=""> <img src="/assets/instagram.png" alt="..."></a>
            <a href=""><img src="/assets/vk.png" alt="..."></a>
            <a href=""><img src="/assets/facebook.png" alt="..."></a>
          </div>
        </div>
      </div>
      <div class="panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Информация</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
            <tr>
              <th><strong>Город</strong></th>
              <td>{{ user?.person?.city }}</td>
            </tr>
            <tr>
              <th><strong>Район</strong></th>
              <td>{{ user?.person?.area }}</td>
            </tr>
            <tr>
              <th><strong>Роль</strong></th>
              <td>{{ user?.person?.typeUser }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Деятельность</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
            <tr>
              <th><strong>Публикации</strong></th>
              <td>5</td>
            </tr>
            <tr>
              <th><strong>Дата регистрации</strong></th>
              <td>{{ user?.person?.created_at | date }}</td>
            </tr>
            <tr>
              <th><strong>Последнее посещение</strong></th>
              <td>1 день назад</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-3 contact">
      <p>
        <a *ngIf="id" (click)="addContact(this.user.username)" class="profile__contact-btn btn btn-lg btn-block btn-info"
           [style]="{'background-color': '#060624', 'color': 'white'}" data-toggle="modal" data-target="#profile__contact-form">
          Написать сообщение
        </a>
        <a *ngIf="!id" (click)="edit()" class="profile__contact-btn btn btn-lg btn-block btn-info"
           [style]="{'background-color': '#060624', 'color': 'white'}">
          Редактирование
        </a>
      </p>

      <hr class="profile__contact-hr">
      <div class="profile__contact-info">
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Рабочий номер</h5>
            {{ user?.person?.phone }}
          </div>
        </div>
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Личный номер</h5>
            {{ user?.person?.phone }}
          </div>
        </div>
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-envelope-square"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Почта</h5>
            <a href="mailto:admin@domain.com">{{ user?.person?.email }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
