<div class="container-fluid">
  <div class="header"></div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Дата регистрации</th>
      <th scope="col">Роль</th>
      <th scope="col">Кол-во публикаций</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Профиль</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Мария выскребец</td>
      <td>01 Мая 2020</td>
      <td>Предприниматель</td>
      <td></td>
      <td>
        <div class="rating-area">
          <input type="radio" id="star-5" name="rating" value="5">
          <label for="star-5" title="Оценка «5»"></label>
          <input type="radio" id="star-4" name="rating" value="4">
          <label for="star-4" title="Оценка «4»"></label>
          <input type="radio" id="star-3" name="rating" value="3">
          <label for="star-3" title="Оценка «3»"></label>
          <input type="radio" id="star-2" name="rating" value="2">
          <label for="star-2" title="Оценка «2»"></label>
          <input type="radio" id="star-1" name="rating" value="1">
          <label for="star-1" title="Оценка «1»"></label>
        </div>
      </td>
      <td><img class="avatar" src="/assets/maria.jpg" alt="maria"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Мария выскребец</td>
      <td>01 Мая 2020</td>
      <td>Предприниматель</td>
      <td></td>
      <td>star</td>
      <td><img class="avatar" src="/assets/maria.jpg" alt="maria"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Мария выскребец</td>
      <td>01 Мая 2020</td>
      <td>Предприниматель</td>
      <td></td>
      <td>star</td>
      <td><img class="avatar" src="/assets/maria.jpg" alt="maria"></td>
    </tr>
    </tbody>
  </table>
</div>
