<div class="container-fluid">
  <div class="sidepanel col-4">
    <div class="header">
      <svg class="start-svg" viewBox="0 0 100 80" width="40" height="40">
        <rect width="70" height="5"></rect>
        <rect y="20" width="70" height="5"></rect>
        <rect y="40" width="40" height="5"></rect>
      </svg>
      <div class="test">
        <ng-select [items]="userAll"
                   bindLabel="username"
                   placeholder="Select item"
                   appendTo="body"
                   multiple="true"
                   [(ngModel)]="selected">
        </ng-select>
      </div>
      <button (click)="addContact(this.selected)" class="btn btn-primary button-test" type="button">Add</button>
    </div>
    <div class="people">
      <ul>
        <li *ngFor="let contact of contactItem" class="contact" (click)="chatChannel(contact)">
          <div class="people-info">
            <div class="image">
              <img [src]="contact.image" alt="" />
            </div>
            <div class="meta">
              <p class="name">{{ contact.name }}</p>
              <p class="preview">{{ contact.text }}</p>
            </div>
          </div>
          <div class="time">
            <span class="icon-text">
            <fa-icon slot="start" [icon]="star"></fa-icon>
            </span>
            <p>{{ contact.time }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-chat-content class="col-8 p-0" [user]="user" [userChannel]="userChannel"></app-chat-content>
</div>
