<div class="container-fluid">
  <div class="filter">
    <label>
      <select (click)="filterMarker($event.target.value)" class="form-control btn-primary">
        <option disabled selected>Выберите фильтр</option>
        <option value="">Все вакансии</option>
        <option value="Соискатель">Поиск работы</option>
        <option value="Арт-команда">Арт-команды</option>
        <option value="Арендодатель">Аренда</option>
      </select>
    </label>
  </div>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="true"
    [mapTypeControl]="true">
    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(infowindow, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable">

      <agm-info-window
        maxWidth="150"
        #infowindow>
        <strong>{{ infoWindow }}</strong>
        <button [style]="{'display': 'block','font-size': '10px', 'padding': '5px', 'margin': '5px 0'}"
                class="btn btn-danger"
                (click)="redirect()">Объявление</button>
      </agm-info-window>

    </agm-marker>
  </agm-map>
</div>
