<div class="fon">
  <form
    [formGroup]="form"
    class="form-signin card-reg"
    (ngSubmit)="clickSignIn()">
    <div class="logo-header">
      <span class="logo"></span>
      <span>Вход</span>
    </div>
    <span *ngIf="respErrors" class="help-block text-center">Ошибка авторизации</span>
    <div class="input-date">
      <div>
        <label for="username" class="sr-only">User name</label>
        <input type="text"
               id="username"
               class="form-control"
               placeholder="User name"
               formControlName="username"
               [ngClass]="{'has-error': hasError('username')}">
        <span class="help-block">{{ textError('username') }}</span>
      </div>
      <div [ngClass]="{'has-error': hasError('password')}">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"
               id="inputPassword"
               class="form-control"
               placeholder="Password"
               formControlName="password"
               [ngClass]="{'has-error': hasError('password')}">
        <span class="help-block">{{ textError('password') }}</span>
      </div>
    </div>
    <div class="submit-button">
      <input [disabled]="form.invalid" class="btn btn-primary btn-save" type="submit" value="Вход"/>
    </div>
  </form>
</div>
