.container-fluid {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  .modal-header {
    font-size: 24px;
    padding: 5px 0 0 15px;
  }
  .header {
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    background-color: whitesmoke;
    h1 {
      font-size: 26px;
      margin: 10px;
    }
  }
  .header-main {
    display: flex;
    width: 100%;
    h1 {
      font-size: 26px;
      margin: 10px;
    }
    .category {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      width: 100%;
      p {
        width: 200px;
        font-size: 20px;
      }
      .form-control {
        width: 40%;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    .header {
      margin: 20px 0;
      border-top: 1px solid #dee2e6;
      border-bottom: 1px solid #dee2e6;
      background-color: #f5f5f5;
      width: 100%;
      h1 {
        font-size: 26px;
        margin: 10px;
      }
    }
    .user-profile {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      .profile {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .carousel {
          outline: none;
        }
        .button-send {
          display: flex;
          padding-top: 30px;
          button{
            margin: 5px;
          }
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 20px;
        border-radius: 10px;
        ul {
          list-style-type: none;
          word-break: break-all;
          li {
            display: flex;
            border: 1px solid gray;
            border-radius: 5px;
            background-color: whitesmoke;
            span {
              width: 150px;
              font-size: 20px;
              padding: 8px;
            }
            p {
              font-size: 19px;
              padding: 10px;
            }
          }
        }
      }
    }
    .about {
      display: flex;
      justify-content: center;
      width: 70%;
      border: 1px solid gray;
      border-radius: 10px;
      p {
        padding: 10px;
        font-size: 16px;
        word-break: break-all;
      }
    }
    agm-map {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      height: 290px;
      width: 90%;
    }
  }
  ::ng-deep .picsum-img-wrapper {
    img {
      max-width: 450px;
      border-radius: 10px;
      text-align: center;
      width: auto;
      height: 300px;
    }
  }
}
