<div class="container-fluid">
  <div class="modal-header">
    <div class="submit-button">
      <p>{{ vacancy?.nameNews }}</p>
    </div>
  </div>
  <div class="header">
    <h1>{{ vacancy?.vacancy }}</h1>
  </div>
  <div class="container">
    <div class="user-profile">
      <div class="profile">
        <ngb-carousel
          interval="30000">
          <ng-template ngbSlide *ngFor="let image of images; let i = index">
            <div class="picsum-img-wrapper">
              <img [src]="image" alt="Angular Carousel 1">
            </div>
          </ng-template>
        </ngb-carousel>
        <div *ngIf="userId !== vacancy?.user?.toString()" (click)="addContact()" class="button-send">
          <button class="btn btn-primary">Написать сообщение</button>
        </div>
        <div *ngIf="userId === vacancy?.user?.toString()" class="button-send">
          <button class="btn btn-warning" (click)="edit()">Редактировать</button>
          <button class="btn btn-danger" (click)="delete()">Удалить</button>
        </div>
      </div>
      <div class="info">
        <ul>
          <li><span>Категория:</span><p>{{ vacancy?.category }}</p></li>
          <li><span>Цена:</span><p>{{ vacancy?.price }} P</p></li>
          <li><span>Почта:</span><p>{{ vacancy?.email }} </p></li>
          <li><span>Телефон:</span><p>{{ vacancy?.phone }} </p></li>
          <li><span>Создание:</span><p>{{ vacancy?.created_at | date }} </p></li>
          <li *ngIf="vacancy?.experience"><span>Опыт:</span><p>{{ vacancy?.experience }} </p></li>
        </ul>
      </div>
    </div>
    <div class="header">
      <h1>Описание</h1>
    </div>
    <div class="about">
      <p>{{ vacancy?.content }}</p>
    </div>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [zoomControl]="true"
      [mapTypeControl]="true"
      [disableDefaultUI]="false">

      <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable">

        <agm-info-window>
          <strong>Создатель вакансии</strong>
          <h1 [style]="{'font-size': '16px'}">{{ userCreatedVacancy?.person?.firstName}} {{ userCreatedVacancy?.person?.lastName}}</h1>
        </agm-info-window>

      </agm-marker>
    </agm-map>
  </div>
</div>
